<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.mapper.PrescribeMapper">

    <select id="getPrescribeListByCondition" resultType="com.inspur.entity.Prescribe">
        select * from prescribe
        <where>
            <if test="registerOrderId != null and registerOrderId != ''">
                and register_order_id = #{registerOrderId}
            </if>
            and status = 0
        </where>
    </select>
</mapper>
