<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.mapper.RegisterOrderMapper">
    <select id="findOrderByCondition" resultType="RegisterOrder">
        select * from register_order
        <where>
            <if test="id!=null and id!=''">
                and id= #{id}
            </if>
            <if test="memberId!=null and memberId!=''">
                and member_id= #{memberId}
            </if>
            <if test="departId!=null and departId!=''">
                and depart_id = #{departId}
            </if>
            <if test="roTime!=null and roTime!=''">
                and ro_time= #{roTime}
            </if>
        </where>
    </select>
</mapper>
